#mushrooms_index
  h1 Mushrooms

  h3 Filter
  = form_tag('/',  method: :get, id: 'filtering')
    - @filters.each do |name, options|
      .form-group
        label= name
        = select_tag "filters[#{name}]", options_for_select(options, selected_value(name)), include_blank: true

    = submit_tag 'Apply filters', class: 'btn btn-success'

    br/

    = link_to "Reset filters", mushrooms_path

  table#mushrooms
    thead
      tr
        td Name
    tbody
      = render @mushrooms
